// Font sizes
$font-size-md: 2.1rem;
$font-size-lg: 2.7rem;

// Margins
$m-xs: 0.5rem;
$m-sm: 1rem;
$m-md: 1.5rem;
$m-lg: 2rem;
$m-xl: 3rem;
$m-xxl: 4rem;

// Elements sizes
$container-max-width: 1300px;

// Colors
$bg-primary-color: #202226;
$bg-secondary-color: #363940;
$primary-color: #189456;
$text-primary-color: #b4bbc3;
$text-secondary-color: #fff;
