// Font sizes
$font-size-sm: 1.7rem;
$font-size-md: 2.1rem;
$font-size-lg: 2.7rem;

// Margins
$m-xs: 0.5rem;
$m-sm: 1rem;
$m-md: 1.5rem;
$m-lg: 2rem;
$m-xl: 3rem;
$m-xxl: 4rem;

// Elements sizes
$container-max-width: 1300px;

// Colors
$bg-primary-color: #202226;
$bg-primary-dark-color: #1b1c1f;
$bg-secondary-color: #303238;
$primary-color: #189456;
$text-primary-color: #b4bbc3;
$text-secondary-color: #fff;
$accent-color: #ba0b0b;
$error-color: $accent-color;
$facebook-color: #4267b2;

// Screen breakpoints
$screen-xs-max: 575px;
$screen-sm-min: $screen-xs-max + 1;
$screen-sm-max: 767px;
$screen-md-min: $screen-sm-max + 1;
$screen-md-max: 991px;
$screen-lg-min: $screen-md-max + 1;
$screen-lg-max: 1199px;
$screen-xl-min: $screen-lg-max + 1;

// Other
$box-shadow: 0px 0px 17px 8px #00000030;
$button-shadow: 0px 0px 10px 5px #00000030;
